<main class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 bg-white">
  
          <div class="container">
            <h2 class="py-5 text-primary ml-5">{{title}}</h2>
            <app-add
            (addEvt)="addEvt($event)"></app-add>
            <app-list
            [dataList]="dataList"
            (deleteEvt)="deleteEvt($event)"
            (updateEvt)="updateEvt($event)"
            (rainEvt)="displayRain()"></app-list>
            <div *ngIf="dataList">
              <app-chart
              [chartList]="dataList"></app-chart>
            </div>
          </div>
        </div><!-- col-md-12 -->
      </div><!-- row -->
    </div><!-- container -->
  </main><!-- main -->